<div class="popUpChild">
  <div class="overLay" (click)="hide()"></div>
  <div class="childData">
    <p>child works!</p>
    <ul>
      <li>
        Id : <span class="userDataIntoChild"> {{ userDataInChild.id }} </span>
      </li>
      <li>
        Name :
        <span class="userDataIntoChild">{{ userDataInChild.name }} </span>
      </li>
      <li>
        Email :
        <span class="userDataIntoChild"> {{ userDataInChild.email }}</span>
      </li>
      <li>
        Address:
        <span class="userDataIntoChild">{{ userDataInChild.address }} </span>
      </li>
      <li>
        Mobile :
        <span class="userDataIntoChild">{{ userDataInChild.mobile }} </span>
      </li>
    </ul>
  </div>
</div>
