<app-header></app-header>
<p style="font-size: 2rem; font-weight: bold">create works!</p>

<form>
  <input
    type="text"
    autocomplete="off"
    maxlength="100"
    value=""
    placeholder="Enter Name"
    required
  />
  <input
    type="email"
    maxlength="100"
    autocomplete="off"
    value=""
    placeholder=" Enter Email"
    required
  />
  <input
    type="text"
    maxlength="100"
    autocomplete="off"
    value=""
    placeholder="Enter address "
    required
  />
  <input
    type="text"
    autocomplete="off"
    value=""
    maxlength="11"
    placeholder="Email Mobile"
    required
  />
  <button
    
  >
    {{ submitButtonTittle }}
  </button>
</form>
