<app-header></app-header>
<p style="font-size: 2rem; font-weight: bold">create works!</p>

<form [formGroup]="createForm" (ngSubmit)="onSubmit(form)" #form="ngForm">
  <input
    type="text"
    autocomplete="off"
    maxlength="100"
    value=""
    formControlName="name"
    placeholder="Enter Name"
    required
  />
  <input
    type="email"
    [email]="true"
    maxlength="100"
    value=""
    placeholder="Email"
    formControlName="email"
    autocomplete="off"
    required
  />
  <input
    type="text"
    maxlength="100"
    autocomplete="off"
    value=""
    formControlName="address"
    placeholder="Enter address "
    required
  />
  <input
    type="text"
    autocomplete="off"
    value=""
    maxlength="11"
    formControlName="mobile"
    placeholder="Email Mobile"
    (keypress)="numberCheckValidation($event)"
    required
  />
  <button>
    <!-- create -->

    {{ submitButtonTittle }}
  </button>
</form>
