form {
  padding: 0rem 0rem 0rem 9rem;
  input {
    padding: 15px 10px 10px 15px;
    width: 20%;
    display: list-item;
    margin-bottom: 2rem;
    border: 1px solid #939393dd;
    border-radius: 5px;
  }
  .submitButtonEnabled {
    margin-left: 18.5%;
    padding: 1rem;
    background: #008cba;
    border: none;
    border-radius: 0.4rem;
    font-size: 1.6rem;
    color: #fff;
  }
  .submitButtonDisabled {
    background: #b8b7b7dd;
    margin-left: 18.5%;
    padding: 1rem;
    border: none;
    border-radius: 0.4rem;
    font-size: 1.6rem;
    color: #fff;
  }
}
